<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WEATHER MOOD TRACKER</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
  </head>
  <body>
   {{{body}}}
  </body>
</html>